.login_head{
    /* LOG IN */
    position: absolute;
    width: 101px;
    height: 36px;
    left: 814px;
    top: 163px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.login_comment{
    /* 당신과 함께하는 가장 가까운 여행 파트너 */

    position: absolute;
    width: 170px;
    height: 36px;
    left: 780px;
    top: 211px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #949494;
}

.id_panel{
    /* 아이디칸 */
    position: absolute;
    width: 307px;
    height: 33px;
    left: 711px;
    top: 328px;
    background: #ffffff;

}

.id_line{
    /* Line 11 */

    position: absolute;
    width: 307px;
    height: 0px;
    left: 711px;
    top: 365px;

    border: 2px solid #E6E6E6;
}

.pw_panel{
    /* 비밀번호칸 */

    position: absolute;
    width: 307px;
    height: 33px;
    left: 711px;
    top: 414px;

    background: #FFFFFF;
}

.pw_line{
    /* Line 12 */

    position: absolute;
    width: 307px;
    height: 0px;
    left: 711px;
    top: 451px;

    border: 2px solid #E6E6E6;
}

.id{
    /* 아이디 */

    position: absolute;
    width: 50px;
    height: 12px;
    left: 711px;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    color: #959595;
}

.pw{
    /* 비밀번호 */

    position: absolute;
    width: 50px;
    height: 12px;
    left: 711px;
    top: 380px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    color: #959595;

}

.find{
    /* 비밀번호를 잊으셨나요? */

    position: absolute;
    width: 110px;
    height: 12px;
    left: 711px;
    top: 464px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #4378FF;

}

.login_button{
    /* Rectangle 36 */

    position: absolute;
    width: 202px;
    height: 38px;
    left: 763px;
    top: 493px;

    background: #4378FF;
    border-radius: 4px;
}

.join1{
    /* 회원이 아니신가요? */

    position: absolute;
    width: 90px;
    height: 12px;
    left: 780px;
    top: 548px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #000000;
}

.join2{
    /* 회원가입하기 */

    position: absolute;
    width: 60px;
    height: 12px;
    left: 875px;
    top: 548px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #4378FF;

}